{% extends 'base.html'%}

{% block body %}

<div class="container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Filter">
    </form>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Alcohol by volume</th>
                <th scope="col">Style</th>
                <th scope="col">Category</th>
                <th scope="col">Organic</th>
                <th scope="col">Retired</th>
                <th scope="col">Created</th>
                <th scope="col">Updated</th>
                <th scope="col">Glass</th>
                <th scope="col" size=>Description</th>
            </tr>
        </thead>
        {% for beer in beers %}
        <tbody>
            <tr>
                <td>{{ beer.name }}</td>
                <td>{{ beer.abv }}</td>
                <td>{{ beer.style }}</td>
                <td>{{ beer.category }}</td>
                <td>{{ beer.isOrganic }}</td>
                <td>{{ beer.isRetired }}</td>
                <td>{{ beer.createDate }}</td>
                <td>{{ beer.updateDate }}</td>
                <td>{{ beer.glassName }}</td>
                <td>{{ beer.styleDescription }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>

{% endblock %}
