{% extends 'base.html'%}

{% block body %}

<div class="container">
    <!-- Favourite styles --->
    <div class="container">
        <h4>Your saved beer styles: </h4>
        {% if styles %}
        <ul>
            {% for style in styles %}
            <li>
                {{ style.beerStyle }}
                <i>modified {{ style.modified }}</i>
                <a class="btn btn-outline-danger btn-sm" href="{% url 'bubbleapp:delete_style' style.id %}" role="button">remove</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ styleForm.as_p }}
            <input type="submit" value="Add a favourite style">
        </form>
    </div>

    <!-- Favourite categories --->
    <div class="container">
        <h4>Your saved beer categories: </h4>
        {% if categories %}
        <p>Your categories: </p>
        <ul>
            {% for category in categories %}
            <li>
                {{ category.beerCategory }}
                <i>modified {{ category.modified }}</i>
                <a class="btn btn-outline-danger btn-sm" href="{% url 'bubbleapp:delete_category' category.id %}" role="button">remove</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ categoryForm.as_p}}
            <input type="submit" value="Add a category">
        </form>
    </div>
</div>
{% endblock %}
